/* Global Styles */
body {
   background-image: url("set1.jpg");
   background-size: cover;
  font-family: Arial, sans-serif;
  margin: 2;
}

h1, h2, h3 {
  font-size: 50px;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
font-size: 28px;


}

a {
  color: black;
  text-decoration: none;
}

/* Header Styles */
header {
background-color: lightblue;
  color: black;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 18px;
}

/* Main Content Styles */
main {
  max-width: 6000px;
  margin: 2px auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
   font-size: 70px;
  margin-bottom: 20px;
}

ul li {
  font-size: 20px;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: white;
  color: gray;
  padding: 0.9px;
  text-align: center;
}